streamlit
fastapi
uvicorn
sentence-transformers
faiss-cpu
numpy
pandas
matplotlib
scikit-learn
requests
beautifulsoup4
pydantic
python-dotenv
trafilatura
itsdangerous
langchain
langchain-community
nltk